@model SacramentMeetingPlanner.Models.Speaker

@{
    ViewData["Title"] = "Edit";
}


<div class="container page-wrapper">
    <h4>Edit Speaker</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: flex; align-items: center">
                <input type="hidden" asp-for="SpeakerId" />
                <input type="hidden" asp-for="MeetingId" />
                <input type="submit" value="Save" class="btn btn-primary" /> <span>&emsp;|&emsp;</span>
                <a asp-controller="Meetings" asp-action="Edit" asp-route-id="@Model.MeetingId">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div class="container">
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
