@model SacramentMeetingPlanner.Models.Meeting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeetingId" />
            <div class="form-group">
                <label asp-for="StartAt" class="control-label"></label>
                <input asp-for="StartAt" class="form-control" />
                <span asp-validation-for="StartAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conductor" class="control-label"></label>
                <input asp-for="Conductor" class="form-control" />
                <span asp-validation-for="Conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningSongNumber" class="control-label"></label>
                @Html.DropDownListFor(model => model.OpeningSongNumber, ViewBag.HymnSelectionList as SelectList, "Select Hymn", new { @class = "form-control" })
                <span asp-validation-for="OpeningSongNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentSongNumber" class="control-label"></label>
                @Html.DropDownListFor(model => model.SacramentSongNumber, ViewBag.HymnSelectionList as SelectList, "Select Hymn", new { @class = "form-control" })
                <span asp-validation-for="SacramentSongNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingSongNumber" class="control-label"></label>
                @Html.DropDownListFor(model => model.ClosingSongNumber, ViewBag.HymnSelectionList as SelectList, "Select Hymn", new { @class = "form-control" })
                <span asp-validation-for="ClosingSongNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateSongNumber" class="control-label"></label>
                @Html.DropDownListFor(model => model.IntermediateSongNumber, ViewBag.HymnSelectionList as SelectList, "Select Hymn", new { @class = "form-control" })
                <span asp-validation-for="IntermediateSongNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusicalNumber" class="control-label"></label>
                <input asp-for="MusicalNumber" class="form-control" />
                <span asp-validation-for="MusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPrayerBy" class="control-label"></label>
                <input asp-for="OpeningPrayerBy" class="form-control" />
                <span asp-validation-for="OpeningPrayerBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayerBy" class="control-label"></label>
                <input asp-for="ClosingPrayerBy" class="form-control" />
                <span asp-validation-for="ClosingPrayerBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
